source https://nuget.org/api/v2
framework: >= net45

nuget FSharp.Core 4.0.0.1 redirects: force
nuget Nett 0.5
nuget Paket.Core
nuget Microsoft.Build.Framework
nuget Microsoft.Build.Utilities.Core

git https://github.com/fsharp-editing/Forge.git master build: "build.cmd BuildProjectSystem", OS: Windows
git https://github.com/fsharp-editing/Forge.git master build: "build.sh BuildProjectSystem", OS: mono


group Build
  source https://nuget.org/api/v2
  framework: >= net45


  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

