source https://nuget.org/api/v2
framework: >= net45
nuget FSharp.Core redirects: force
nuget Nett

git https://github.com/fsprojects/Forge.git master build: "build.cmd BuildProjectSystem", OS: Windows
git https://github.com/fsprojects/Forge.git master build: "build.sh BuildProjectSystem", OS: mono


group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget NUnit
  nuget NUnit.Runners
  nuget FsUnit